<%- include("partials/header.ejs") -%>

	
	<!-- Start Slider Area -->
    <div id="home" class="slider slider-prlx">
        <div class="swiper-container parallax-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="bg-img valign" data-background="pexels-tim-mossholder-974316.jpg" data-overlay-dark="5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="caption text-center" >
                                    	<h2 style="font-size: 37px; padding: 5px;">The University Of Zimbabwe Farm</h2>
                                    	
                                        <a href="/blogs" class="button top-btn">View Products</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="bg-img valign" data-background="pexels-alejandro-barrón-96715 (1).jpg" data-overlay-dark="5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="caption text-center">
                                    	<h2 style="font-size: 37px; padding: 5px;">The University Of Zimbabwe Farm</h2>

                                            <a href="/products" class="button top-btn">View Products</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- End Slider Area -->


	<!-- Start Testimonials Section -->
	
	<!-- End Testimonials Section -->

    <%- include("partials/footer.ejs") -%>