<%- include("partials/header.ejs") -%>

<div >
    
    <div style="text-align: center;">
        <img class=" img img-rounded" style="text-align: center; width: 800px;" src="maintenance-ga45bba6da_1280.png" alt="">
        
    </div>
    
    <div style="text-align: center;">
        <a href="/"  style="text-align: center; margin: 10px;"class="btn btn-danger btn-lg">Go Back</a>
        
    </div>
    <h1 style="text-align: center; font-weight: 900; padding: 10px; margin: 40px;">THIS PARTICULAR PAGE IS STILL UNDER CONSTRUCTION</h1>
    
</div>


<%- include("partials/footer.ejs") -%>