body {
  margin: 0;
  height: 100vh;
  background-color: #f5f9fc;
  font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 500px;
  border: 1px solid #e5e0f2;
  border-radius: 5px;
  background-color: #fff;
  color: #495057;
  font-weight: 400;
  line-height: 1.5;
}

.card-header {
  padding: 12px 20px;
}

.card-header h3 {
  margin: 8px 0;
}

.card-body {
  padding: 20px;
  border-top: 1px solid #e5e9f2;
  position: relative;
  overflow: hidden;
  max-height: 100px;
  transition: max-height .5s ease;
}

.card-body.active {
  max-height: 300px;
}

.card-body p {
  margin: 0;
}

.card-body:not(.active)::before, .card-body:not(.active)::after, .card-body:not(.active) .read-more {
  content: '';
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 1px;
  text-align: center;
}

.card-body:not(.active)::before {
  height: 20px;
  background-color: #ffffff;
}

.card-body:not(.active)::after {
  height: 50px;
  bottom: 20px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
}

.card-body.active .read-more {
  display: none;
}

.card-body:not(.active) .read-more {
  padding: 20px 0px;
  z-index: 1;
}