<%- include("partials/header.ejs"); -%>

<section class="team-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>About Us</h2>
                    <h5>Zambezi River FisheriesTrust And Conservation</h5>
                </div>
            </div>
        </div>

        
        <div style="padding: bottom 30px;">
         <p> <h5>
            Zambezi river fisheries trust and conservation is private voluntary organization formed by the inhabitants of Mola that is where it is going to operate along Zambezi River to come up with solutions to problems faced by fishmonger, to solve conflicts between fishmonger and game rangers, to teach community about importance of wildlife, to come with solutions to inhabitants of Zambezi to all problems associated with wildlife conflicts, safari operators’ conflicts.
           </h5>
        </div></p><br> 

        <p> <div style="padding: bottom 30px;">
            <h5>
                Tonga community was happy to coexist with wildlife because was beneficial to them they practiced hunting, fish trapping, fruits gathering just to mention a few. However, in the early 1950s the Rhodesian government initiated a project to construct the dam wall to trap water for the purpose of hydro power generation this result in displacement of Tonga community to infertile lands with tsetse fly that affected most of their livestock’s. Although, some of Tonga tribes resisted Rhodesian government ‘s demand to leave the valley to pave way for dam construction but floods of water forced them to leave in a hurry manner without any chance of grabbing their belongings. According to then Rhodesia government the primary motive of dam construction was to generate electricity to benefit Tonga community and nation at large and promised that all benefits the Tonga people were enjoying in Zambezi River will follow them they use phrase water will follow you meaning all the benefits the Tonga people were enjoying in Zambezi River will follow them to their new area of residents.
            </h5>
         </div></p> <br>

         <p> <div style="padding: bottom 30px;">
            <h5>
                To fulfill the promise, the then Rhodesia government designed fishing camps to allow the local Tonga people enjoy the fishing benefits up to now these fishing camps exist and are recognized by Government of Zimbabwe. In addition, some cruel safari operators are abusing the local so we as the trust we are there to protect the local people, fishmonger and to ensure that all wealth generated from our wildlife are channeled in a proper way.
            </h5>
         </div></p> <br>

        </div>
    </div>




<%- include("partials/footer.ejs"); -%>