<%- include("partials/header.ejs") -%>

<section id="teams" class="team-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h5>Team members</h5>
                    <h2>Our Leadership</h2>
                </div>
            </div>
        </div>
        <div>
           <h5>
            Meet our Trust fisheries leadership team who are committed to work with all fishing camps along Zambezi River under Chief Mola’s chiefdom. We believe that only our team can channel all fishmonger grievances, community grievances to an amicable position and come up with satisfying solutions. Our leadership core theme is united we built and divide we fall. We are there to bring Zambezi people together.
           </h5>

        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="team-image">
                        <img class="img-rounded"  src="IMG-20220725-WA0046.jpg" alt="team" />
                    </div>
                    <div class="team-info">
                        <h3>Goodward Siyabwanda</h3>
                        <span>Chairperson</span>
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="team-image">
                        <img src="IMG-20220725-WA0043.jpg" alt="team" />
                    </div>
                    <div class="team-info">
                        <h3>Cassius Mthalanji</h3>
                        <span>Vice Chairperson</span>
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="team-image">
                        <img src="IMG-20220725-WA0045.jpg" alt="team" />
                    </div>
                    <div class="team-info">
                        <h3>Wayne Valentine Chihota</h3>
                        <span>Secretary</span>
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="team-image ">
                        <img src="IMG-20220725-WA0044.jpg" alt="team" />
                    </div>
                    <div class="team-info">
                        <h3>Passmmore Masvuvure Gwaindepi</h3>
                        <span>Vice Secretary</span>
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="team-image">
                        <img src="img_avatar1.png" alt="team" />
                    </div>
                    <div class="team-info">
                        <h3>Wonder Murenga</h3>
                        <span>Treasurer</span>
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="team-image">
                        <img src="img_avatar1.png" alt="team" />
                    </div>
                    <div class="team-info">
                        <h3>Samson Mutumani</h3>
                        <span>info-desk</span>
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            
              

        </div>
    </div>

    <%- include("partials/footer.ejs") -%>

    
