<h1>Upload your Vid</h1>



<form action="/video" method="post" enctype="multipart/form-data" class="needs-validation">
    <input type="file" name="video">
    <input type="submit" name="" id="">
</form>