<!DOCTYPE html>
<html lang="eng">

<head>
	<meta charset="utf-8" />
	<title>Fisheries Trust</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<!-- Favicon -->
	<!-- Site All Style Sheet Css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
	<link href="assets/css/icofont.min.css" rel="stylesheet" />
	<link href="assets/css/magnific-popup.css" rel="stylesheet" />
	<link href="assets/css/animate.min.css" rel="stylesheet" />
	<link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
	<link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
	<link href="assets/css/swiper.min.css" rel="stylesheet" />
	<!-- Site Main Style Sheet Css -->
	<link href="assets/css/style.css" rel="stylesheet" />
	<link href="assets/css/responsive.css" rel="stylesheet" />
  
</head>

<body>
 
      <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="Screenshot (86).png"  style="width:60px;" class="rounded-pill"alt=""> Fisheries<span style="color: orange;">Trust </span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item"><a class="nav-link js-scroll " href="/blogs">Posts</a></li>
                        
            <li class="nav-item"><a class="nav-link js-scroll" href="/leaders">Leaders</a></li>

            <li class="nav-item"><a class="nav-link js-scroll" href="/#contact">Contact</a></li>

            <li class="nav-item"><a class="nav-link js-scroll" href="/about">About Us</a></li>

            <li class="nav-item"><a class="nav-link js-scroll" href="MEMORENDUM OF UNDERSTANDIN1.pdf">Memorandum Of Understanding</a></li> 
          </ul>
          <div >
            <ul class=" nav navbar-nav navbar-right">
              <li>
             <%   if(!currentUser){%>
                  <a href="/login" style="color: white;">Login</a>
                  <a href="/register" class="btn" style="color: white;">SignUp!</a>
                <% }else{ %>
                  <a href="/logout" class="btn" style="color: white;">Logout</a>

                  <a style="color: white;"><b> <%=currentUser.username%></b></a>
                  
                  <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg>

                <% } %>
             
              
               </li>
            </ul>
      
          </div>
        </div>
      </nav>

      <div class="container">
        <% if(error && error.length >0){ %>
           <div class="alert alert-danger" role="alert">
               <%= error %> 
           </div>
          <% } %> 
        <% if(success && success.length >0){ %>  
           <div class="alert alert-success" role="alert">
               <%= success %>
           </div>
           <% } %>
      </div>
      